{{#> layout}}
  {{#*inline "content"}}
    <form action="/auth/sign-in" method="post" class="auth-form">
      <div class="logo">
        <img src="/auth/static/img/logo.svg" alt="kyra.">
      </div>
      <nav>
        <h1>
          Sign in
        </h1>
        <a href="/auth/sign-up">
          Sign up
        </a>
      </nav>
      {{#if error_message}}
        <div class="form-input">
          <div class="error-message">
            {{error_message}}
          </div>
        </div>
      {{/if}}
      <div class="form-input">
        <label for="email">
          Email
        </label>
        <input type="email" name="email" id="email" required/>
      </div>
      <div class="form-input">
        <label for="password">
          Password
        </label>
        <input type="password" name="password" id="password" required/>
      </div>
      <div class="form-input">
        <input type="submit" value="sign in" id="submit"/>
      </div>
    </form>
  {{/inline}}
{{/layout}}
