openapi: 3.0.0
info:
  title: Project
  version: '1.0'
servers:
  - url: 'http://app.kyra.io/api/v1'
paths:
  /projects:
    get:
      summary: Retrieve
      tags:
        - projects
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
          headers: {}
        '500':
          description: Internal Server Error
      operationId: ListProjects
      parameters:
        - schema:
            type: number
          in: query
          name: sort
      description: Retrieve user projects
    post:
      summary: Create
      tags:
        - projects
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
        '500':
          description: Internal Server Error
      operationId: CreateProject
      description: Create project for user
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Project'
        description: ''
    parameters: []
  '/projects/{id}':
    parameters:
      - schema:
          type: number
        name: id
        in: path
        required: true
    put:
      summary: Update
      operationId: UpdateProject
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Project'
      description: Update given project
    delete:
      summary: Delete
      operationId: DeleteProject
      responses:
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      description: Delete given project
components:
  schemas:
    Project:
      title: Project
      type: object
      x-examples: {}
      properties:
        id:
          type: integer
        name:
          type: string
        owner:
          type: string
        members:
          type: array
          items:
            $ref: '#/components/schemas/User'
      required:
        - name
        - members
      description: ''
    User:
      title: User
      type: object
      properties:
        email:
          type: string
        first_name:
          type: string
        last_name:
          type: string
  securitySchemes:
    X-Kyra-Session:
      name: Kyra authentication cookie
      type: apiKey
      in: cookie
security:
  - X-Kyra-Session: []
