html {
  height: 100%;
  background-color: #FFFFFF;
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-size: 1rem;
}


body {
  height: 100%;
  padding: 0;
  margin: 0;
  display: inline-block;
  width: 100%;
}

.background {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}


.background::after {
  content: " ";
  background: url(/auth/static/img/auth-bg.svg);
  background-size: cover;
  background-position: top;
  display: block;
  height: 65%;
  width: 100%;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 0;
  z-index: -1;
}

.auth-form {
  background: #FFFFFF;
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  padding: 2rem;
  max-width: 80%;
  width: 25rem;
  box-sizing: border-box;
}

.auth-form nav {
  margin-top: 0;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.auth-form a {
  color: #3A4FDE;
  text-decoration: none;
}

.auth-form nav h1 {
  margin: 0;
  font-weight: 500;
  font-size: 1.5rem;
}

.auth-form .form-input {
  margin-top: 1.5rem;
}

.auth-form .form-input .error-message {
  padding: 0.5rem 0;
  color: #FB6666;
  background: rgba(251, 102, 102, 0.25);
  border-radius: 0.25rem;
  text-align: center;
}

.auth-form .logo {
  text-align: center;
  margin-bottom: 2rem;
}

.auth-form .logo img {
  width: 80px;
  height: auto;
}

.auth-form label {
  margin-bottom: 0.5rem;
  display: block;
}

.auth-form input[type="text"], .auth-form input[type="email"], .auth-form input[type="password"], .auth-form input[type="submit"] {
  font-family: "Fira Sans", sans-serif;
  letter-spacing: 0.05rem;
  font-weight: 700;
}

.auth-form input[type="text"], .auth-form input[type="email"], .auth-form input[type="password"] {
  background: #FFFFFF;
  border: 1px solid #E8EDF0;
  box-sizing: border-box;
  border-radius: 2px;
  display: block;
  width: 100%;
  transition: all ease 0.25s;
  line-height: 2.4rem;
  padding: 0 0.5rem;
  letter-spacing: 0.05rem;
}

.auth-form input[type="text"]:focus, .auth-form input[type="email"]:focus, .auth-form input[type="password"]:focus {
  border: 1px solid #3A4FDE;
}

.auth-form input[type="password"] {
  letter-spacing: 0.4rem;
  font-size: 1.5rem;
}

.auth-form input[type="submit"] {
  width: 100%;
  display: block;
  background: #3A4FDE;
  border-radius: 4px;
  color: #FFFFFF;
  text-transform: uppercase;
  border: none;
  line-height: 40px;
  cursor: pointer;
  transition: all ease 0.25s;
}

.auth-form input[type="submit"]:disabled {
  background: #F8FAFB;
  color: #929EA4;
  cursor: not-allowed;
}
